body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuboWmS5fFVld3fycurHVMU3eojS6yXjbk_PgE0Onge0sRy5gv&s");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 100%;
   }

.b {
    font-family: 'Merienda', cursive;
    
};